.grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  row-gap: 2.5em;
  margin-top: 3em;
  width: 100%;
}

.card {
  display: flex;
  flex-flow: column;
  gap: 1.25em;
  position: relative;
}

.thumb {
  position: relative;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.name {
  font-size: 1.125em;
  font-weight: 500;
  color: var(--fg);
}

.outcome {
  font-size: 0.85em;
  color: var(--fg-faint);
}

.body {
  margin-top: 0.4em;
  font-size: 0.95em;
  line-height: 155%;
  color: var(--fg-muted);
}

@media screen and (max-width: 991px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 24px;
    row-gap: 32px;
    margin-top: 32px;
  }
}
